* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

/* Header */
.main-header {
    background-color: white;
    border-bottom: 1px solid #ddd;
}

.logo-image {
    width: 50px; /* Consistent logo size for header */
}

.logo-text {
    font-size: 1.8em;
    color: #FF914C;
}

/* Signup Container */
.signup-container {
    background-color: #f0f0f0;
    padding: 20px; /* Added padding for better spacing */
}

.signup-card {
    max-width: 500px;
    width: 100%;
    margin: 20px auto; /* Centered the card */
}

.logo-image {
    width: 80px; /* Larger logo size for signup card */
}

.logo-text {
    font-size: 2em;
    color: #FF914C;
    font-weight: 600;
}

.form-group label {
    color: #555;
}

.btn-primary {
    background-color: #FF914C;
    border-color: #FF914C;
}

.btn-primary:hover {
    background-color: #03a9f4;
    border-color: #03a9f4;
}

/* Footer */
footer {
    background-color: #f4f4f9;
    color: #333;
}
